
@{
    Layout = "~/Views/Shared/MenuAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h6>Listagem de usuarios</h6>
    </div>
</body>
</html>
